        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* for mobile */
        
        body {
            /* font-family: Arial, Helvetica, sans-serif; */
            background: #eaeded;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        
        #sidebar {
            position: absolute;
            width: 300px;
            height: 100%;
            background: #fff;
            left: -300px;
            transition: .4s ease;
            /* display: none; */
        }
        
        #sidebar.active {
            left: 0;
        }
        
        #sidebar ul li {
            /*   list-style: none;
            color: #fff;
            font-size: 14px;
            padding: 20px 24px;
            line-height: 16px;*/
            list-style: none;
            color: #111111;
            font-size: 14px;
            padding: 0px 24px;
            line-height: 34px;
        }
        
        #sidebar .toggle-btn {
            position: absolute;
            top: 0px;
            /* top: 30px; */
            /* left: 330px; */
            left: 302px;
        }
        
        .toggle-btn span {
            width: 45px;
            height: 4px;
            background: #f0ffff;
            display: block;
            margin-top: 4px;
        }
        
        @media only screen and (max-width:600px) {
            #sidebar {
                display: block;
            }
            .logo {
                padding: 12px;
            }
            .logo a {
                font-size: 1.5rem;
            }
            .nav-list {
                display: none;
            }
            .nav-bar {
                justify-content: flex-end;
                z-index: -1;
            }
            #sidebar .toggle-btn {
                top: 14px;
            }
        }
        /* crousel */
                .carousel-cell {
            width: 100%;
        }
        /* cell number */
        
        .carousel-cell:before {
            display: block;
        }
        
        @media screen and ( min-width: 768px) {
            /* half-width cells for larger devices */
            .gallery-cell {
                width: 50%;
            }
        }
        
        .crousel-img {
            position: relative;
            z-index: -1;
        }
        
        .products {
            position: absolute;
            top: 50%;
            z-index: -1;
                margin: 0 1rem !important;
        }
        /* products */
        /* for desktop */
        
        .container {
            max-width: 1366px;
            margin: 0 0;
            color: #fff;
        }
        
        .nav-bar {
            display: flex;
            margin: 0 auto;
            max-width: 1366px;
            flex-wrap: wrap;
            background: #131921;
            align-items: center;
            padding: 5px;
        }
        
        .nav-bar span {
            color: white;
        }
        
        .nav-list {
            flex: 1;
            text-align: end;
            color: white;
        }
        
        .nav-list ul {
            /* display: inline-block; */
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .nav-list ul li {
            display: inline-block;
            padding: 0 20px;
        }
        
        .language {
            padding: 0;
        }
        
        .dropdown-item {
            display: flex;
        }
        
        #cars {
            width: 19px;
            background: #131921;
            color: white;
            border: none;
            margin-top: -1px;
        }
        
        .cart-logo {
            width: 44px;
        }
        
        .flex3 {
            width: 63%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* utilitis */
        
        .flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        
        .Logo-png {
            width: 99px;
            padding: 5px;
        }
        
        .logo {
            color: white;
        }
        
        .logo p {
            padding: 3px;
            margin-left: 12px;
        }
        
        input[type="text" i] {
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            line-height: 15px;
            padding: 7px 10px 10px 0;
        }
        
        .flex2 {
            width: 80%;
            display: flex;
            height: 40px;
        }
        
        .fa-search {
            font-size: 27px !important;
            background: #febd69;
            padding: 4px;
            border: 1px solid #febd69;
        }
        /* hardcore */
        
        h5 {
            margin: 0!important;
        }
        
        h4 {
            font-size: 13px!important;
        }
        /*------------------------- second nav---------- */
        .second-nav{
            z-index: 1;
        }

        .second-nav-content {
            display: flex;
            justify-content: space-around;
            background: #232f3e;
            padding: 3px;
        }
        
        .second-nav-list {
            /* flex-basis: 80%; */
            flex-basis: 69%;
            /* margin-left: 23px; */
            align-items: center;
            justify-content: center;
            margin: auto;
        }
        
        .second-nav-list ul {
            display: flex;
            justify-content: space-around;
            /* margin-left: 39px; */
            /* flex-basis: 23%; */
            list-style: none;
            /* width: 96%;*/
        }
        
        .app-info {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .category-navbar {
            max-height: -webkit-fill-available;
            overflow-y: auto;
        }
        
        .category-navbar .singIn p {
            display: inline-block;
            padding: 0 4px;
            font-weight: 900;
        }
        
        .singIn {
            padding: 8px;
            background: #232f3e;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .trending {}
        
        .trending li {}
        
        hr {
            border: 0;
            border-top: 1px solid #1319211c;
            margin: 20px 0;
        }
        /* products */
        
        .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
    width: 100%;
    grid-row-gap: 1.5rem;
    /* margin: 1rem auto; */
    background:#eaeded70;
    /* background: radial-gradient(white, #00000021); */
    /* height: 377px; */
        }
        
        .card1 {
            /*     padding: 20px 20px;
    height: 290px;
    text-align: center;
    border: 1px solid black; */
            background: #ffffff;
            color: black;
        }
        
        .card2 {
            /*     padding: 20px 20px;
    height: 290px;
    text-align: center;
    border: none;
    color: white;
    background: #e2306c; */
            background: #ffffff;
            color: black;
        }
        
        .card3 {
            /*     padding: 20px 20px;
    height: 290px;
    text-align: center;
    border: 1px solid black; */
            background: #ffffff;
            color: black;
        }
        
        .all-containes h1 {
            margin: 0;
            text-align: center;
            font-size: 21px;
            font-weight: 600px !important;
        }
        
        .all-containes a {
            display: block;
            padding: 12px;
            font-size: 12px;
            color: #288798;
            text-decoration: none;
            text-align: left;
        }
        
        .fa-2x {
            font-size: 2em;
            margin-bottom: 1rem !important;
        }
        
        .card1 p,
        .card3 p {
            /*     margin-bottom: 21px;
    color: black;
    font-size: 18px;
    line-height: 23px; */
        }
        
        .card1 a,
        .card2 a {
            /*     padding: 9px 48px;
    border-radius: 24px;
    font-family: -webkit-pictograph;
    border: none;
    color: white;
    text-decoration: none;
    background-color: #000000;
    -webkit-font-smoothing: subpixel-antialiased;
    text-transform: uppercase;
    transition: all .3s ease; */
        }
        
        a:hover {
            /*     color: white;
    background: #000000e0; */
        }
        
        .card2 a {
            /*     padding: 9px 48px;
    border-radius: 24px;
    font-family: -webkit-pictograph;
    border: none;
    color: #e2306c96;
    font-weight: 600;
    text-decoration: none;
    background-color: white;
    -webkit-font-smoothing: subpixel-antialiased;
    text-transform: uppercase;
    transition: all .3s ease; */
        }
        
        .card2 a:hover {
            /*     color: white;
    background: #421829b4; */
        }
        
        .card1,
        .card2,
        .card3 {
            /*     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 11px; */
        }
        
        .card1 h2,
        .card2 h2,
        .card3 h2 {
            /*     margin-bottom: 5px; */
        }
        /* On mouse-over, add a deeper shadow */
        
        .card1:hover {
            /*     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
        }
        
        .card2:hover {
            /*     box-shadow: 0 8px 16px 0 rgba(162, 61, 182, 0.253); */
        }
        
        .card3:hover {
            /*     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
        }
        
        .product-img {
            vertical-align: middle;
            width: 100%;
            padding: 0 initial;
            height: 301px;
            padding: 19px;
        }
        
        @media only screen and (max-width:900px) {
            .container {
                margin: 0;
            }
            .card {
                grid-template-columns: repeat(1, 1fr);
                grid-row-gap: 1rem;
            }
        }



        /* COVID RESPONSE */
                .covid-19 .carousel-cell {
            /* width: 30%; */
            width: 15%;
            padding: 2px;
        }
        /* cell number */
        
        .covid-19 .carousel-cell:before {
            display: block;
        }
        
        @media screen and (min-width: 0px) and (max-width: 400px) {
            /* body {
                background-color: red;
            } */
            .covid-19 .carousel-cell {
                width: 100%;
            }
        }

        .covid-19{
                    position: absolute;
    /* top: 170%; */
    bottom: -115%;
    width: 100%;
    color: black;
    background: white;
    margin: 0 1rem;
        }



        .covid-19   .flickity-prev-next-button {
    top: 50%;
    width: 36px!important;
    height: 90px!important;
    border-radius: 5%!important;
    transform: translateY(-50%);
}
.flickity-viewport{
    /* overflow: scroll!important; */
    scroll-behavior:smooth;
        overflow-y: hidden!important;
}
 .covid-19  h2{
 margin: 0;
    padding: 3px 11px;
    margin-left: 12px;
    color: #444!important;
    font-size: 22px;
 }

  .covid-19 img{
/* they are not apply */

    height: 167px!important;
    width: 90%;

  }




  /* dealas */
 .Deals{
    margin: 0 1rem;
    position: absolute;
    bottom: -153%;
    width: 100%;
    background: white;
 }

      .Deals  .carousel-cell {
            /* width: 30%; */
            width: 15%;
            padding: 2px;
        }
        /* cell number */
        
   .Deals  .carousel-cell:before {
            display: block;
        }

 .Deals  h2{
 margin: 0;
    padding: 3px 11px;
    margin-left: 12px;
    color: #444!important;
    font-size: 22px;
 }

.Deals img{
/* they are not apply */

    height: 167px!important;
    width: 85%;

  }


.Deals  .flickity-prev-next-button {
    top: 50%;
    width: 36px!important;
    height: 90px!important;
    border-radius: 5%!important;
    transform: translateY(-50%);
}

/* sponserd */

.sponsored{
    position: absolute;
    bottom: -198%;
    width: 100%;
}

.homefurneshing{
        width: 74%;
    margin: 1px auto;
}

.homefurneshing img{
    margin: 0 auto;
    width: 100%;
}



/**************************************** footer **************************************/



/* footer */
footer{
	    position: absolute;
      bottom: -316%;
    /* left: 2%; */
    width: 100%;
}
.sector1{
    background: #232f3e;
}
.rev{
	background: #37475a;
}

.sector1 .rev a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
    font-size: 13px;
    line-height: 19px;
}

.sector1 .all-links {
    background: #232f3e;
    color: white;
    list-style: none;
    width: 85%;
    margin: 0 auto;
    padding: 34px;
    line-height: 30px;
}

.sector1 .all-links .links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.links .l1 p {
    font-weight: bold;
}

li ul {
    list-style: none;
}

li ul li {
    font-size: 12px;
}

.sector2 {
    background: #232f3e;
}

.sector2 img {
    width: 100px;
}


/* drop down */

.dropbtn {
    color: white;
    background-color: #37475a;
    padding: 4px 18px;
    font-size: 13px;
    border: 1px solid white;
    cursor: pointer;
}


/* .dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
} */

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2px 6px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.lang-selector {
    display: flex;
    width: 75%;
    margin: 0 auto;
    background: #37475a;
    padding: 20px;
    /* padding-top: 22px; */
    padding-bottom: 12px;
    /* background: aqua; */
    justify-content: center;
}

.lang-selector .dropdown {
    margin-left: 30px;
}

.sector2 hr {
    margin: 0;
    margin-bottom: 20px;
       border-top: 1px solid #37475a;

}

.sector2 .languagesList .LANG {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
}

.sector2 .languagesList .LANG ul {
    display: flex;
    list-style: none;
    color: white;
    font-size: 12px;
    justify-content: space-evenly;
    padding-bottom: 25px;
}


/* sector3 */

.sector3 {
    background: #131a22;
    padding: 20px;
    color: #ddd;
}

.sector3 .links-other .UL_A {
    justify-content: space-evenly;
    display: flex;
}

.sector3 .links-other .UL_A .li_A {
    display: flex;
    flex-direction: column;
}

.sector3 .links-other .UL_A .li_A .UL_AB {
    margin-top: 10px;
}

.sector3 .cpyRight {
    text-align: center;
    display: block;
    padding: 10px;
    padding-top: 25px;
    font-size: 12px;
}

.sector3 li {
    font-size: 10px;
    color: #999;
}

.sector3 b {
    color: #ddd;
}